<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meiling.framework.app">

    <!-- bugly 上传文本似乎是使用的HTTP，所以需要声明允许使用明文传输
    android:usesCleartextTraffic="true" -->
    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CommonActivityTheme_WhiteStatusBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.TimePickerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ObsCheckActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.DialogCallActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.MultiPointerTouchActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.a_test.PopupDialogCallActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.camera.CameraPreviewLocalImageActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.system_call.SystemCallActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.camera.Camera1Activity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- 播放器如果不设置configChanges的话，在进行屏幕方向旋转时，会导致Activity销毁重绘，引起初始设置的方向被重置，无限切方向的问题 -->
        <activity
            android:name=".activity.video_player.GSYPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="com.meiling.framework.app.utils.glide.MyGlideModule"
            android:value="GlideModule" />
        <!-- 替换Glide对应的实现，使得加载进度（含加载成功、加载失败）能够被观测到 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.meiling.framework.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


</manifest>